<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
        <title>Conversão Combustível</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">&nbsp;</div>
            {% if result: -%}
                <div class="row">
                    <div class="col-12 text-center">
                        <p>
                            {% if result <= comp: -%}
                            <div class="alert alert-success">{{result}} - Álcool é melhor</div>
                            {% else: -%}
                            <div class="alert alert-success">{{result}} - Gasolina é melhor</div>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
            {% else -%}
                <div class="row">
                    <div class="col-12 text-center">
                        <p>Digite nos campos abaixo os preços do Etanaol e da Gasolina.</p>
                        <p><span style="color: red;"><strong>NÃO</strong></span> utilize <span style="color: red;"><strong>LETRAS</strong> <span style="color: black;">ou</span> <span style="color: red;"><strong>VÍRGULA!</strong></p>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
            {% endif %}
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                        <form action="#" class="needs-validation" method="POST">
                            <label for="etanol" class="form-label">Preço do Etanol:</label><br />
                            <input type="text" class="form-control-lg" name="etanol" required onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 190 || event.charCode == 110" /><br />
                            <label for="gasolina" class="form-label">Preço da Gasolina:</label><br />
                            <input type="text" class="form-control-lg" name="gasolina" required  onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 190 || event.charCode == 110" /><br /><br />
                            <input type="submit" class="btn btn-success" value="Calcular"/>
                        </form>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </body>
</html>
